
include ../public/dist/offline.html

script(type="text/javascript").
    var description = !{JSON.stringify(message)};
    var pageName = !{JSON.stringify(pageTitle)};
    document.querySelector('#description').innerHTML = description;
    if (pageName) {
        document.title = pageName;
    }