
@import 'bootstrap';

body {
  background-color: #fefefe;
}

[v-cloak] {
  display: none;
}

input {
  display: block;
  margin: 0 auto;
}

button {
  margin-top: 20px;
}

.break {
  word-break: break-all;
}

.error {
  color: #e90d00;
  font-size: 0.9em;
  margin-bottom: 5px;
}

small {
  display: block;
}

.intro {
  display: inline-block;
  text-align: center;
  font-size: 3em;
  width: 100%;
  margin: 30px auto 0;
}

.intro:hover {
  text-decoration: none;
}